
<section class="flex">
  <div class="flex flex-row border-red-500">
    <div id='clock-label' class="text-color-gray-300 pr-4">clock: </div>
    <div id='clock' class="text-color-gray-300">0:00</div>
  </div>
</section>

<script>

class Clock {
  constructor() {
    this.time = 0;
    this.clock = document.getElementById('clock');
  }

  stopClock() {
    clearInterval(this.interval);
    this.interval = null;
  }

  startClock() {
    this.interval = setInterval(() => {
      this.time++;
      let minutes = Math.floor(this.time / 60);
      let seconds = this.time % 60;
      this.clock.innerText = `${minutes}:${seconds < 10 ? '0' + seconds : seconds}`;
    }, 1000);
  }

  getTime() {
    return this.clock.innerText;
  }
}

window.clock = new Clock();
window.clock.startClock();


</script>
