
<div class="flex flex-col flex-1 border-collapse border border-gray-500 p-3">
  <clock-tracker ></clock-tracker>
  <move-tracker></move-tracker>
  <error-move-tracker></error-move-tracker>
{% if state  == "win"%}
  {% include 'win.html' %}
{% endif %}
</div>
<script>
{% if state  == "win"%}
  console.log('win')
{% else %}
(async() => {
  await customElements.whenDefined('clock-tracker')
  const clockTracker = document.querySelector('clock-tracker')
  clockTracker.startClock()
})()
{% endif %}
</script>

